<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout::head"> </head>
  <body>
    <nav th:replace="layout::navigation"></nav>
    <h1 class="text-center">Thông tin làm việc</h1>
    <div class="container">
      <div class="card my-3">
        <div class="card-header">
          Lựa chọn các chức năng sau:
        </div>
        <div class="card-body">
          <a class="btn btn-primary mx-2 " th:href="@{/covid}">
           Thân nhiệt
          </a>
          <a class="btn btn-primary mx-2 disabled" th:href="@{/covid/injection}">Tiêm Covid</a>
          <a class="btn btn-primary mx-2" th:href="@{/covid/info-covid}">Tình trạng Covid</a>
          <a sec:authorize="hasAuthority('MANAGER')" class="btn btn-primary mx-2" th:href="@{/covid/info-staff}">Quản lý nhân viên</a>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Đăng ký mũi tiêm</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/covid/injection}" th:object="${injection}" method="POST">
            <div class="row"> 
              <div class="col-md-4 input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Mũi tiêm</label>
                </div>
                <select class="custom-select"  th:field="*{index}">
                  <option value="1">Mũi 1</option>
                  <option value="2">Mũi 2</option>
                  <option value="3">Mũi 3</option>
                </select>
              </div>
            <div class="col-md-4 input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Ngày giờ</span>
                
              </div>
              <input type="datetime-local" class="form-control" th:field="*{dateInjection}">
              
            </div>
            <div class="col-md-4 input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect02" >Loại vacxin</label>
              </div>
              <select class="custom-select" id="inputGroupSelect02" th:field="*{typeVacxin}">
                <option value="1">Moderna</option>
                <option value="2">Pfizer </option>
                <option value="3">Astra Zecera</option>
                <option value="4">Sinovac</option>
                <option value="5">Sinopharm - Sinovax</option>
                <option value="6">Spunik </option>
              </select>
            </div>
          </div>

           
            
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </form>
           
            
        </div>
      </div>

      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Chi tiết mũi tiêm</h4>
        </div>
        <div class="card-body">
         
            <table class="table" th:if="${#lists.size(user.injections)  != 0}">
           
              <thead>
                <tr>
                  <th scope="col">Mũi tiêm</th>
                  <th scope="col">Ngày</th>
                  <th scope="col">Loại Vacxin</th>


  
                </tr>
              </thead>
              <tbody>
              
                 
                      <tr th:each="injection: ${user.injections}">
                        <td scope="row" th:text="${injectionStat.index + 1}"></td>
                        <td th:text="${injection.dateInjection}"></td>
                        <td th:text="#{'vacxin.type.'+${injection.typeVacxin}}"></td>

                      </tr>
                

                
              </tbody>
            </table>
         
            <p th:if="${#lists.size(user.injections)  == 0}">Chưa có thông tin</p>
         
           
            
        </div>
      </div>
  </body>
</html>
