<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <th:block th:replace="layout::head1"> </th:block>
    <link rel="stylesheet" href="/css/card-staff.css" />
  </head>
  <body>
    <nav th:replace="layout::navigation"></nav>
    <h1 class="text-center">Quá trình làm việc</h1>
    <div class="container">
      <div class="card my-3">
        <div class="card-header">Lựa chọn các chức năng sau:</div>
        <div class="card-body">
          <form th:action="@{'/manage/staff/show/'+ ${staffId}}" method="POST">
            <div class="row">
              <div class="col-md-4 input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Năm</label
                  >
                </div>
                <select
                  class="custom-select"
                  id="inputGroupSelect01"
                  name="yearWork"
                >
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                </select>
              </div>
              <div class="col-md-4 input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect02"
                    >Tháng</label
                  >
                </div>
                <select
                  class="custom-select"
                  id="inputGroupSelect02"
                  name="monthWork"
                >
                  <option value="01">Tháng 1</option>
                  <option value="02">Tháng 2</option>
                  <option value="03">Tháng 3</option>
                  <option value="04">Tháng 4</option>
                  <option value="05">Tháng 5</option>
                  <option value="06">Tháng 6</option>
                  <option value="07">Tháng 7</option>
                  <option value="08">Tháng 8</option>
                  <option value="09">Tháng 9</option>
                  <option value="10">Tháng 10</option>
                  <option value="11">Tháng 11</option>
                  <option value="12">Tháng 12</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Hiển thị</button>
          </form>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-header">
          <h4 class="text-center">Phiên làm việc</h4>
          
        </div>
       
        <div class="card-body">
            <th:block th:if="${#lists.size(sessionWorkHour) == 0 || !isPost }">
                <div>CHưa có thông tin</div>
            </th:block>
            <th:block th:if="${isPost && #lists.size(sessionWorkHour)!= 0}">
                <table class="table">

                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bắt đầu</th>
                    <th scope="col">Kết thúc</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Nơi làm việc</th>
                    <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <div th:each="sessionWork : ${sessionWorkHour}">
                    <tr>
                        <th colspan="5" class="text-center" th:text="${#dates.format(sessionWork.dateSession, 'yyyy-MM-dd')}"></th>
                    </tr>
                    <tr th:each="workHour : ${sessionWork.sessionWorkHour}">
                        <th scope="row" th:text="${workHourStat.index +1}"></th>
                        <td th:text="${#dates.format(workHour.startHour, 'HH:mm:ss')}"></td>
                        <td th:text="${workHour.endHour != null ? #dates.format(workHour.endHour, 'HH:mm:ss') :'Chưa kết thúc'}"></td>
                        <td th:text="${workHour.endHour != null ? #dates.format(workHour.dateDiff, 'HH:mm:ss' ): '--'}"></td>
                        <td th:text="#{'workplace.type.' +${workHour.workPlace}}"></td>
                        <td><a  class="btn btn-primary" th:classappend="${workHour.endHour == null ? 'disabled' : ''}" onclick="if(!confirm('Ban co muon xoa phien lam viec nay?'))return false" th:href="@{'/manage/staff/delete/'+${workHour.id}}">Xoá</a></td>
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="3" class="text-center">Tổng cộng</th>
                        <th>Tổng giờ</th>
                        <td th:text="${sessionWork.stringSumWorkHour}"></td>

                    </tr>
                    <tr>
                        <th>Tổng thêm giờ</th>
                        <td th:text="${sessionWork.stringOverTime}"></td>

                    </tr>
                    <tr>
                        <th>Nghỉ phép</th>
                        <td th:text="${sessionWork.leave}"></td>

                    </tr>
                    </div>
                    
                        
                
                    


                    
                </tbody>
                </table>
            </th:block>
          
        </div>
    </div>
  </body>
</html>
