<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="layout::head"> </head>
  <body>
    <nav th:replace="layout::navigation"></nav>
    <h1 class="text-center">Thông tin nhân viên</h1>
    <div class="container">
      
    
      <div class="card my-3">
       

        <div class="card-body">
          <div class="row py-4">
            <div class="col-md-3 col-sm-12 col-xs-12">
            <img th:src="@{'/'+${user.ImagePath}}"  class="img-fluid rounded h-100" alt="profile"/>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <form th:action="@{/profile/edit}" th:object="${user}" method="POST" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{id}" th:value="*{id}">
                </div>
              </div>
              <div class="form-group row">
                <label for="fullname" class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{firstName}" th:value="*{firstName}">
                </div>
              </div>

              <div class="form-group row">
                <label for="fullname" class="col-sm-2 col-form-label">Ho</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{lastName}" th:value="*{lastName}">
                </div>
              </div>

              <div class="form-group row">
                <label for="doB" class="col-sm-2 col-form-label">Ngày sinh</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{doB}" th:value="*{doB}">
                </div>
              </div>

              <div class="form-group row">
                <label for="salaryScale" class="col-sm-2 col-form-label">Hệ số lương</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{salaryScale}" th:value="*{salaryScale}">
                </div>
              </div>

              <div class="form-group row">
                <label for="startDate" class="col-sm-2 col-form-label">Ngày vào làm</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{startDate}" th:value="*{startDate}">
                </div>
              </div>

              <div class="form-group row">
                <label for="department" class="col-sm-2 col-form-label">Phòng ban</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{department}" th:value="*{department}">
                </div>
              </div>

              <div class="form-group row">
                <label for="annualLeave" class="col-sm-2 col-form-label">Nghỉ phép còn lại</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" th:field="*{annualLeave}" th:value="*{annualLeave}">
                </div>
              </div>

              <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label">Hình ảnh</label>
               <th:block th:switch="${edit == null}">
                <th:block th:case="${true}">
                    <div class="col-sm-10">
                        <input type="text" readonly  class="form-control-plaintext" name="image" th:value="*{imageUrl}">
                      </div>
                </th:block>
                <th:block th:case="${false}">
                    <div class="col-sm-10">
                        <input type="file"  name="image" id="image">
                      </div>
                </th:block>
               </th:block>
                

               <th:block th:switch="${edit == null}">
                <th:block th:case="${true}">
                    <a class="btn btn-primary" href="/profile/edit">Chỉnh sửa</a>
                </th:block>
                <th:block th:case="${false}">
                    <button type="submit" class="btn btn-primary">Xác nhận chỉnh sửa</button>
                </th:block>
               </th:block>
              
              </div>
              
            </form>
           

            
          </div>
        </div>
        
          
        </div>
  </body>
</html>
