<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout::head"> </head>
  <body>
    <nav th:replace="layout::navigation"></nav>
    <h1 class="text-center">Điểm danh/kết thúc làm</h1>
    <div class="container" th:object="${user}">
      <div class="card my-3">
        <div class="card-header">Lựa chọn các chức năng sau:</div>
        <div class="card-body">
          <a class="btn btn-primary mx-2 disabled">
            Điểm danh/ Kết thúc làm việc
          </a>
          <a class="btn btn-primary mx-2" th:href="@{/leave}">Xin nghỉ phép</a>
        </div>
      </div>

      <div class="card my-3" th:if="*{isWork}">
        <div class="card-header">
          <h4>Kết thúc làm</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/checkout}" method="POST">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Tên nhân viên:</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span
                      th:text="${user.firstName} +' '+ ${user.lastName}"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Trạng thái:</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Làm việc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Thời gian bắt đầu:</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span th:text="*{currentWork.startHour}"></span>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">
              Kết thúc làm việc
            </button>
          </form>
        </div>
      </div>

      <div class="card my-3" th:unless="*{isWork}">
        <div class="card-header">
          <h4>Điểm danh</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/checkin}" th:object="${workHour}" method="POST">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Tên nhân viên:</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Mai quốc Huy</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Trạng thái:</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <span>Không làm việc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <p>Nơi làm việc</p>
                  </div>
                  <div class="col-md-8 col-sm-6 col-xs-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        th:field="*{workPlace}"
                        id="workPlace1"
                        value="1"
                        checked
                      />
                      <label class="form-check-label" for="workPlace1">
                        Làm việc tại công ty
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        th:field="*{workPlace}"
                        id="workPlace2"
                        value="2"
                      />
                      <label class="form-check-label" for="workPlace2">
                        Làm việc tại nhà
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        th:field="*{workPlace}"
                        id="workPlace3"
                        value="3"
                      />
                      <label class="form-check-label" for="workPlace3">
                        Làm việc tại nơi khách hàng
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Điểm danh</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
