<th:block th:fragment="card-staff(user)">
  <div class="container_card">
    <div class="my_header">
      <div class="my_header_left">
        <input type="checkbox" />
      </div>
      <div class="my_header_right">
        <div className="header_button">
          <a th:href="@{'/covid/staff/pdf/' + ${user.id}}">pdf</a>
        </div>
        <!-- {/* <div className="header_button">
                <button>Action</button>
              </div>
              <div className="header_button">
                <button>Action</button>
              </div> */} -->
      </div>
    </div>
    <div class="my_middle">
      <div class="my_middle_image">
        <img
          class="my_middle_image_avatar"
          src="/<%= user.imageUrl%>"
          alt="avatar"
        />
      </div>
      <div class="my_middle_content">
        <div class="my_middle_content_name">
          <strong th:text="${user.lastName + ' ' +user.firstName}"></strong>
        </div>
        <div class="my_middle_content_job">
          <small>Nhân viên</small>
        </div>
      </div>
    </div>
    <div class="my_footer_card">
      <div class="my_footer_start">
        <div class="my_footer_start_dept">
          <p>
            <strong>Phòng Ban</strong>
          </p>
          <p th:text="${user.department}"></p>
        </div>
        <div class="my_footer_start_joinDate">
          <p>
            <strong>Ng. vào làm</strong>
          </p>
          <p th:text="${user.startDate}"></p>
        </div>
      </div>
      <div class="my_footer_end my-1">
        <!-- <th:block
          th:switch="${'Covid: '+user.covids[#lists.size(user.covids)-1].covidInfo}"
        > -->
        <th:block th:switch="${#lists.size(user.covids) == 0}">
          <p th:case="${true}">Covid: Chua co thong tin</p>
          <th:block th:case="${false}">
            <th:block
              th:switch="${user.covids[#lists.size(user.covids)-1].covidInfo}"
            >
              <p th:case="${false}">Covid: Âm tính</p>
              <p th:case="${true}">Covid: Dương tính</p>
            </th:block>
          </th:block>
        </th:block>

        <p th:text="${'Mũi tiêm: '+#lists.size(user.injections)}"></p>
        <th:block th:switch="${#lists.size(user.temps) == 0}">
          <p th:case="${true}">Nhiệt độ: Chua co thong tin</p>
          <th:block th:case="${false}">
            <p
              th:text="${'Nhiệt độ: '+user.temps[#lists.size(user.temps)-1].temp}+' độ C'"
            ></p>
          </th:block>
        </th:block>
      </div>
    </div>
  </div>
</th:block>
